@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.cdnfonts.com/css/impact');
                
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  /* height: 100vh; */
  width: 100%;
  background: linear-gradient(to bottom, #6c77da 23%, #2424b7 95%);
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* background: linear-gradient(to bottom, #a5a7ba 35px, #28282c 95%); */
}
.header .logo { text-align: center; }
.header .logo a {
  padding: 0.4rem;
  margin: 10px auto; display: inline-block;
  font-family: 'Impact', sans-serif;
  letter-spacing: 0.4rem;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #0b0b0b;
  border-radius: 4px;
}
.header .logo a span {
  display: block;
  font-family: 'Impact', sans-serif;
  letter-spacing: 0.4rem;
  font-size: 0.8rem;
  font-weight: 100;
  color: #c3c3c3;
}
.navbar {
  /* display: flex;
  align-items: center; */
  /* justify-content: space-between; */
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}
.navbar .links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 5rem;
}
.navbar .links a {
  font-weight: 500;
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
  padding: 0px 0;
  transition: 0.2s ease;
}
.navbar .links a:hover {
  color: #3028d1;
}
main { 

}
.hero-section, .hero-services {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 95vh;
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
  gap: 5rem;
}

.hero-section .hero {
  max-width: 80%;
  color: #fff;
}
.hero h2, .hero-services .hero h2 {
  font-size: 2.2rem;
  margin-bottom: 20px;
  color: #fff;
}
.hero p {
  text-align: justify;
  font-size: 1.0rem;
  margin-bottom: 20px;
  color: #c9c7c7;
}

.hero-section .img img {
  width: 517px;
}
.hero-section .buttons {
  margin-top: 40px;
}

.hero-section .buttons a {
  text-decoration: none;
  color: #fff;
  padding: 12px 24px;
  border-radius: 0.375rem;
  font-weight: 600;
  transition: 0.2s ease;
  display: inline-block;
}
.hero-section .buttons a:not(:last-child) {
  margin-right: 15px;
}
.buttons .btn-more {
  background-color: #490fea;
}
.hero-section .buttons a:hover {
  background-color: #290983;
}
/* SERVICES */
.hero-services .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
.hero-services .wrapper .box {
  padding: 2rem;
  flex-grow: 3;
  background-color: #97a0eb;  
}
.hero-services .wrapper .box ul {
  list-style: none;  
}
.hero-services .wrapper .box ul li {
  list-style: none;  
}
.hero-services .wrapper .box ul li.title {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;  
}

/* Hamburger menu styles */
#menu-toggle {
  display: none;
}

#hamburger-btn {
  font-size: 1.8rem;
  color: #fff;
  cursor: pointer;
  display: none;
  order: 1;
}

/* Footer */
footer{
  position: sticky;
  background: #19181b;
  width: 100%;
  bottom: 0;
  left: 0;
}
footer::before{
  /* content: '';
  position: absolute;
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
  background: #AFAFB6; */
}
footer .content{
  /* width: 100%; */
  max-width: 1200px;
  margin: auto;
  padding: 2rem 0;
  display: flex;
  
  /* justify-content: space-between; */
}
footer .content .box{
  /* width: calc(100% / 5 - 10px); */
  flex-basis: 50%;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;        /* for single line flex container */
  align-content: center;      /* for multi-line flex container */
}
.content .box .title{
  color: #6e42e8;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  position: relative;
}
.content .box li{
  color: #fff;
  margin: 6px 0;
  list-style: none;
}
.content .box li a{
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
}
.content .box li a:hover{
  opacity: 1;
  text-decoration: underline;
}
.content .link-boxes .input-box{
  margin-right: 55px;
}

.form {
  width: 80%;
}
.form .title {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
}
.form input, .form textarea{
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #AFAFB6;
  background: #ececef;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}
.form textarea {
  height: 80px;
}
.form .input-box input::placeholder{
  color: #AFAFB6;
  font-size: 16px;
}
.form input[type="button"]{
  background: #3c1bde;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover{
  opacity: 1;
}
footer .bottom-details{
  width: 100%;
  background: #090909;
}
footer .bottom-details .text{
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: center;
}
.bottom-details .text span{
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .text a{
  font-size: 1rem;
  font-weight: 600;
  color: #490fea;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover{
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a{
  margin-right: 10px;
}

/* M E D I A -- Q U E R I E S */
@media screen and (max-width: 1023px) {
  .navbar .logo a {
    font-size: 1.5rem;
  }

  .links {
    position: fixed;
    left: -100%;
    top: 75px;
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    background: #263ad7;
    flex-direction: column;
    transition: 0.3s ease;
  }

  .navbar #menu-toggle:checked ~ .links {
    left: 0;
    justify-content: start;
    gap: 1rem;
  }

  .navbar #hamburger-btn {
    display: block;
  }

  .header .buttons {
    display: none;
  }

  .hero-section .hero {
    max-width: 100%;
    text-align: center;
  }

  .hero-section img {
    display: none;
  }
}
@media (max-width: 900px) {
  footer .content {
    padding: 0;
    flex-wrap: wrap;
    flex-direction: column;
  }
  footer .content .link-boxes .input-box{
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 700px){
  footer{
    position: relative;
  }
  
  footer .content .box{
    /* width: calc(100% / 3 - 10px); */
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 12px;
  }
}
@media (max-width: 520px){
  footer::before{
    top: 145px;
  }
  footer .content .top{
    flex-direction: column;
  }
  .content .top .media-icons{
    margin-top: 16px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 2 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 100%;
  }
}
